<%- include('../includes/head') %>
<%- include('../includes/navigation') %>

<!DOCTYPE html>
<html>
<head>
  <title>Cancelled</title>
</head>
<body>
  <h1>Withdrawal Cancelled</h1>
  <p>You may not have enough balance.</p>
  <a href="/withdraw">Try Again</a>
</body>
</html>


<%- include('../includes/footer') %>
